

    <div class = container>

        <main>
            <div>
                <h2>PHP</h2>
                <p>Descrição do Curso 1.</p>
                <p><strong>Preço: $99</strong></p>
                <a href="cadastro" class="button">Comprar</a>
            </div>
            <div>
                <h2>HTML</h2>
                <p>Descrição do Curso 2.</p>
                <p><strong>Preço: $149</strong></p>
                <a href="cadastro" class="button">Comprar</a>
            </div>
            <div>
                <h2>LARAVEL</h2>
                <p>Descrição do Curso 3.</p>
                <p><strong>Preço: $199</strong></p>
                <a href="cadastro" class="button">Comprar</a>
            </div>
            <div>
                <h2>CSS</h2>
                <p>Descrição do Curso 1.</p>
                <p><strong>Preço: $99</strong></p>
                <a href="cadastro" class="button">Comprar</a>
            </div>
            <div>
                <h2>MySQL</h2>
                <p>Descrição do Curso 2.</p>
                <p><strong>Preço: $149</strong></p>
                <a href="cadastro" class="button">Comprar</a>
            </div>
            <div>
                <h2>ANGULAR</h2>
                <p>Descrição do Curso 3.</p>
                <p><strong>Preço: $199</strong></p>
                <a href="cadastro" class="button">Comprar</a>
            </div>
    
        </main>
    
    
    
    </div>
    
